:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;

  color-scheme: light dark;
  color: rgb(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-image: url("/testbilder/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;

  margin: 2rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.BackBtn {
  color: #000000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button:hover {
  background-color: #444;
  color: white;
  transition: 0.3s;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

button {
  border-radius: 20px !important;
  width: 200px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}

.Pet-Container button {
  height: 40px;

  padding: 0;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.welcomeText {
  position: relative;
  top: -100px; /* Flyttar upp rubriken */
  text-align: center;
  color: #fff;
  font-size: 70px;
  text-shadow: 10px 2px 6px rgba(0, 0, 0, 0.6);
}

#WelcomeP {
  color: #ffffff;
  font-size: 40px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.PetInfo p {
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 1.6;
}

.HomeContainer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;

  button {
    border-color: #fff;
    width: 180px;
    margin-bottom: 140px;
  }
}
.HomeContainer .button-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.Pet-Container button {
  width: 100px;
}
.Pet-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-spacing {
  margin-right: 4px;
}
input {
  border-radius: 5px;
  color: #ffffff;
  background-color: #1a1a1a;
}
::placeholder {
  color: #ffffff8a;
}

span.Plus-Icon {
  width: 20px;
}

.health-btn {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.pet-check {
  width: 70px;
}
